*{
    margin : 0;
    padding : 0;
}

h1 {
    background-color: #0D324D;
    color: azure;
    text-align: center;
    padding: 20px;
    
}

.choice {
    height: 165px; 
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.choices {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover {

    background-color: #0D324D;
}

.score-board {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1rem;
    margin-top: 4rem;
    flex-wrap: wrap; /* stays centered on small screens */
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.4rem;
}

#user-score,
 #computer-score {
    font-size: 4rem;
}

.message-container{
    width: 100%;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically if container has height */
    margin-top: 20px;
}

#msg {
    background-color: #0D324D;
    text-align: center;
    font-size: 2rem;
    color: azure;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 50px;
    border-radius:2px solid black;

    
}

#msg:hover {
    opacity: 0.8;

}